<div *ngIf="!dpiGenerator.error">
    <div *ngIf="dpiGenerator.pending>5" class="alert alert-warning" role="alert" style="color: black;">
        <b>Notice:</b> The DPi Generator is currently demanded. Thank you for your patience.
    </div>
    <div *ngIf="dpiGenerator.pending>10" class="alert alert-danger" role="alert" style="color: black;">
        <b>Notice:</b> The DPi Generator is currently highly demanded. Thank you for your patience.
    </div>
    <div *ngIf="found">
        <div *ngIf="image">
            <p>
                Your image is ready for download.<br>
            </p>

            <details>
                <summary><i class="nc-icon nc-alert-circle-i"></i> What shall I do with this?</summary>
                <ul>
                    <li>
                        Once downloaded, unzip the file to you obtain an image file (extension .img).
                    </li>
                    <li>
                        To install this image on the SD card, download and install
                        <a href="https://www.balena.io/etcher/" target="_blank">Etcher</a>.
                    </li>
                    <li>
                        Starting Etcher, you first select your image file, then your SD card, and 'Flash'
                    </li>
                </ul>
            </details>
            <button id="downloadImage" type="button" (click)="download()" class="btn btn-info">
                <div class="button-spinning">
                    Download
                </div>
                <div id="spinnerDownloadImage" style="display:none" class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </button>
            <button type="button" (click)="delete()" class="btn btn-danger">Delete</button>
            <div id="download-dpi-image-progress-bar" class="progress" *ngIf="download$ | async as download">
                <div class="progress-bar progress-bar-info" id="download-dpi-image-progress" role="progressbar"></div>
            </div>
        </div>

        <div *ngIf="!image">
            <ul class="nc-icon-ul">
                <li>Image being prepared.</li>
                <li><i class="nc-icon nc-watch-time"></i><b>Estimated total time:</b> several hours</li>
                <li><i class="nc-icon nc-button-play icon-bullet"></i><b>Started:</b> {{started_at}}</li>
                <li><i class="nc-icon nc-refresh-69 icon-bullet"></i><b>Last Update:</b> {{updated_at}}</li>
            </ul>

            <label>
                <i class="nc-icon nc-minimal-right"></i>
                <b>Current Status:</b> {{status}}
            </label>
            <div class="progress">
                <div class="progress-bar {{statusColor}}" role="progressbar" [ngStyle]="{'width': progress}"></div>
            </div>

            <button id="cancelGeneration" type="button" class="btn btn-danger" (click)="cancel()">
                <div class="button-spinning">
                    Cancel
                </div>
                <div id="spinnerCancelGeneration" style="display:none" class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </button>

        </div>
    </div>

    <div *ngIf="!found">

        <p>
            Bucket will prepare a Raspberry Pi distribution for you, taking care of securing it,
            setting up all necessary network and Python library to be ready to go. Curious about it,
            have a look to our <a href="https://github.com/datacentricdesign/raspbian-dist" target="_blank">GitHub
                repository</a>.
        </p>

        <form [formGroup]="form">
            <details open>
                <summary>Provisioning login credentials</summary>
                <div class="form-group">
                    <label for="first_user_name">Raspberry Pi user name (netId if using eduroam)</label>
                    <input formControlName="first_user_name" type="text" class="form-control" id="first_user_name"
                        required pattern="^[a-z][-a-z0-9_]*$" name="first_user_name" placeholder="">
                    <div *ngIf="f.first_user_name.touched && f.first_user_name.invalid" class="alert alert-danger">
                        <div *ngIf="f.first_user_name.errors.required">
                            The user name is required so that you can log on your Raspberry Pi.
                        </div>
                        <div *ngIf="f.first_user_name.errors.pattern">
                            The Raspberry Pi user name should contain only lowercase letters,
                            digits and '_', starting with a letter.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="first_user_password">Raspberry Pi password (at least 8 characters)</label>
                    <div class="input-group">
                        <input formControlName="first_user_password" [type]="fieldTextRPiType ? 'text' : 'password'"
                            class="form-control" id="first_user_password" name="first_user_password" required
                            minlength="8" />
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa"
                                    [ngClass]="{ 'fa-eye-slash': !fieldTextRPiType, 'fa-eye': fieldTextRPiType }"
                                    (click)="toggleFieldTextRPiType()"></i>
                            </span>
                        </div>
                    </div>
                    <div *ngIf="f.first_user_password.touched && f.first_user_password.invalid"
                        class="alert alert-danger">
                        <div *ngIf="f.first_user_password.errors.required">
                            A password is required to secure your Raspberry Pi
                        </div>
                        <div *ngIf="f.first_user_password.errors.minlength || f.first_user_password.errors.maxlength">
                            Your Raspberry Pi password must include between 8 and 31 characters.
                        </div>
                    </div>
                    <label for="first_user_password_confirm">Confirm your Raspberry Pi password</label>
                    <input formControlName="first_user_password_confirm" type="password" class="form-control"
                        id="first_user_password_confirm" name="first_user_password_confirm">
                    <div *ngIf="f.first_user_password_confirm.touched && f.first_user_password_confirm.invalid"
                        class="alert alert-danger">
                        <div *ngIf="f.first_user_password_confirm.errors.confirmedValidator">
                            Your Raspberry Pi password and confirmation do not match.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="target_hostname">Hostname (name of your Raspberry Pi on the network)</label>
                    <input formControlName="target_hostname" type="text" class="form-control" id="target_hostname"
                        required
                        pattern="^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])$"
                        name="target_hostname">
                    <div *ngIf="f.target_hostname.touched && f.target_hostname.invalid" class="alert alert-danger">
                        <div *ngIf="f.target_hostname.errors.required">
                            The hostname is required
                        </div>
                        <div *ngIf="f.target_hostname.errors.pattern">
                            The hostname can only contain letters (a to z and A to Z) and numbers (0 to 9), non
                            repeating
                            dots (.) or dashes (-). It should starts and ends with a letter or a number.
                        </div>
                    </div>
                </div>
            </details>

            <div class="form-check">
                <label class="form-check-label">
                    <input formControlName="enable_SSH" class="form-check-input" type="checkbox" id="enable_SSH"
                        name="enable_SSH" checked>
                    Enable SSH (open access from the network)
                    <span class="form-check-sign"></span>
                    <div *ngIf="!f.enable_SSH.value" class="alert alert-warning" role="alert" style="color: black;">
                        <b>Notice:</b>
                        without SSH, your Raspberry Pi will not be accessible from the network,
                        requiring display, keyboard and mouse to opperate.
                    </div>
                </label>
            </div>

            <hr>

            <details>
                <summary>Provisioning a home network</summary>
                <p>
                    You can provide the credentials of a home network. The Raspberry Pi will connect to it
                    automatically.<br>
                </p>

                <div class="form-group">
                    <label for="home_ESSID">Home Network ESSID</label>
                    <input formControlName="home_ESSID" type="text" class="form-control" id="home_ESSID"
                        name="home_ESSID">
                </div>
                <div class="form-group">
                    <label for="home_password">Home Network Password</label>
                    <div class="input-group">
                        <input formControlName="home_password" [type]="fieldTextHomeType ? 'text' : 'password'"
                            class="form-control" id="home_password" name="home_password">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa"
                                    [ngClass]="{ 'fa-eye-slash': !fieldTextHomeType, 'fa-eye': fieldTextHomeType }"
                                    (click)="toggleFieldTextHomeType()"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="home_password_confirm">Confirm your Home Network password</label>
                    <input formControlName="home_password_confirm" type="password" class="form-control"
                        id="home_password_confirm" name="home_password_confirm" />
                    <div *ngIf="f.home_password_confirm.touched && f.home_password_confirm.invalid"
                        class="alert alert-danger">
                        <div *ngIf="f.home_password_confirm.errors.confirmedValidator">
                            Your Home Network password and confirmation do not match.
                        </div>
                    </div>
                </div>
            </details>

            <hr>

            <details>
                <summary>Provisioning a WPA network</summary>
                <p>
                    You can provide the credentials of a enterprise network such as Eduroam. The Raspberry Pi will
                    connect to it automatically.<br>
                    <b>Note:</b> You must provide your WPA username in the field 'First user name' above (e.g. your
                    netId in the case of eduroam).
                </p>

                <div class="form-group">
                    <label for="wpa_ESSID">WPA Network ESSID</label>
                    <input formControlName="wpa_ESSID" type="text" class="form-control" id="wpa_ESSID" name="wpa_ESSID"
                        placeholder="eduroam">
                </div>
                <div class="form-group">
                    <label for="wpa_password">WPA Network Password</label>
                    <div class="input-group">
                        <input formControlName="wpa_password" [type]="fieldTextWPAType ? 'text' : 'password'"
                            class="form-control" id="wpa_password" name="wpa_password" minlength="8" maxlength="63" />
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa"
                                    [ngClass]="{ 'fa-eye-slash': !fieldTextWPAType, 'fa-eye': fieldTextWPAType }"
                                    (click)="toggleFieldTextWPAType()"></i>
                            </span>
                        </div>
                    </div>
                    <div *ngIf="f.wpa_password.touched && f.wpa_password.invalid" class="alert alert-danger">
                        <div *ngIf="f.wpa_password.errors.minlength || f.wpa_password.errors.maxlength">
                            Your WPA password must include between 8 and 63 characters.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="wpa_password_confirm">Confirm your WPA Network password</label>
                    <input formControlName="wpa_password_confirm" type="password" class="form-control"
                        id="wpa_password_confirm" name="wpa_password_confirm" />
                    <div *ngIf="f.wpa_password_confirm.touched && f.wpa_password_confirm.invalid"
                        class="alert alert-danger">
                        <div *ngIf="f.wpa_password_confirm.errors.confirmedValidator">
                            Your WPA password and confirmation do not match.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="wpa_country">Country code</label>
                    <select formControlName="wpa_country" class="form-control" id="wpa_country" name="wpa_coutry">
                        <option value="AF">Afghanistan
                        </option>
                        <option value="AX">Åland Islands</option>
                        <option value="AL">Albania</option>
                        <option value="DZ">Algeria</option>
                        <option value="AS">American Samoa</option>
                        <option value="AD">Andorra</option>
                        <option value="AO">Angola</option>
                        <option value="AI">Anguilla</option>
                        <option value="AQ">Antarctica</option>
                        <option value="AG">Antigua and Barbuda</option>
                        <option value="AR">Argentina</option>
                        <option value="AM">Armenia</option>
                        <option value="AW">Aruba</option>
                        <option value="AU">Australia</option>
                        <option value="AT">Austria</option>
                        <option value="AZ">Azerbaijan</option>
                        <option value="BS">Bahamas</option>
                        <option value="BH">Bahrain</option>
                        <option value="BD">Bangladesh</option>
                        <option value="BB">Barbados</option>
                        <option value="BY">Belarus</option>
                        <option value="BE">Belgium</option>
                        <option value="BZ">Belize</option>
                        <option value="BJ">Benin</option>
                        <option value="BM">Bermuda</option>
                        <option value="BT">Bhutan</option>
                        <option value="BO">Bolivia, Plurinational State of</option>
                        <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                        <option value="BA">Bosnia and Herzegovina</option>
                        <option value="BW">Botswana</option>
                        <option value="BV">Bouvet Island</option>
                        <option value="BR">Brazil</option>
                        <option value="IO">British Indian Ocean Territory</option>
                        <option value="BN">Brunei Darussalam</option>
                        <option value="BG">Bulgaria</option>
                        <option value="BF">Burkina Faso</option>
                        <option value="BI">Burundi</option>
                        <option value="KH">Cambodia</option>
                        <option value="CM">Cameroon</option>
                        <option value="CA">Canada</option>
                        <option value="CV">Cape Verde</option>
                        <option value="KY">Cayman Islands</option>
                        <option value="CF">Central African Republic</option>
                        <option value="TD">Chad</option>
                        <option value="CL">Chile</option>
                        <option value="CN">China</option>
                        <option value="CX">Christmas Island</option>
                        <option value="CC">Cocos (Keeling) Islands</option>
                        <option value="CO">Colombia</option>
                        <option value="KM">Comoros</option>
                        <option value="CG">Congo</option>
                        <option value="CD">Congo, the Democratic Republic of the</option>
                        <option value="CK">Cook Islands</option>
                        <option value="CR">Costa Rica</option>
                        <option value="CI">Côte d'Ivoire</option>
                        <option value="HR">Croatia</option>
                        <option value="CU">Cuba</option>
                        <option value="CW">Curaçao</option>
                        <option value="CY">Cyprus</option>
                        <option value="CZ">Czech Republic</option>
                        <option value="DK">Denmark</option>
                        <option value="DJ">Djibouti</option>
                        <option value="DM">Dominica</option>
                        <option value="DO">Dominican Republic</option>
                        <option value="EC">Ecuador</option>
                        <option value="EG">Egypt</option>
                        <option value="SV">El Salvador</option>
                        <option value="GQ">Equatorial Guinea</option>
                        <option value="ER">Eritrea</option>
                        <option value="EE">Estonia</option>
                        <option value="ET">Ethiopia</option>
                        <option value="FK">Falkland Islands (Malvinas)</option>
                        <option value="FO">Faroe Islands</option>
                        <option value="FJ">Fiji</option>
                        <option value="FI">Finland</option>
                        <option value="FR">France</option>
                        <option value="GF">French Guiana</option>
                        <option value="PF">French Polynesia</option>
                        <option value="TF">French Southern Territories</option>
                        <option value="GA">Gabon</option>
                        <option value="GM">Gambia</option>
                        <option value="GE">Georgia</option>
                        <option value="DE">Germany</option>
                        <option value="GH">Ghana</option>
                        <option value="GI">Gibraltar</option>
                        <option value="GR">Greece</option>
                        <option value="GL">Greenland</option>
                        <option value="GD">Grenada</option>
                        <option value="GP">Guadeloupe</option>
                        <option value="GU">Guam</option>
                        <option value="GT">Guatemala</option>
                        <option value="GG">Guernsey</option>
                        <option value="GN">Guinea</option>
                        <option value="GW">Guinea-Bissau</option>
                        <option value="GY">Guyana</option>
                        <option value="HT">Haiti</option>
                        <option value="HM">Heard Island and McDonald Islands</option>
                        <option value="VA">Holy See (Vatican City State)</option>
                        <option value="HN">Honduras</option>
                        <option value="HK">Hong Kong</option>
                        <option value="HU">Hungary</option>
                        <option value="IS">Iceland</option>
                        <option value="IN">India</option>
                        <option value="ID">Indonesia</option>
                        <option value="IR">Iran, Islamic Republic of</option>
                        <option value="IQ">Iraq</option>
                        <option value="IE">Ireland</option>
                        <option value="IM">Isle of Man</option>
                        <option value="IL">Israel</option>
                        <option value="IT">Italy</option>
                        <option value="JM">Jamaica</option>
                        <option value="JP">Japan</option>
                        <option value="JE">Jersey</option>
                        <option value="JO">Jordan</option>
                        <option value="KZ">Kazakhstan</option>
                        <option value="KE">Kenya</option>
                        <option value="KI">Kiribati</option>
                        <option value="KP">Korea, Democratic People's Republic of</option>
                        <option value="KR">Korea, Republic of</option>
                        <option value="KW">Kuwait</option>
                        <option value="KG">Kyrgyzstan</option>
                        <option value="LA">Lao People's Democratic Republic</option>
                        <option value="LV">Latvia</option>
                        <option value="LB">Lebanon</option>
                        <option value="LS">Lesotho</option>
                        <option value="LR">Liberia</option>
                        <option value="LY">Libya</option>
                        <option value="LI">Liechtenstein</option>
                        <option value="LT">Lithuania</option>
                        <option value="LU">Luxembourg</option>
                        <option value="MO">Macao</option>
                        <option value="MK">Macedonia, the former Yugoslav Republic of
                        </option>
                        <option value="MG">Madagascar</option>
                        <option value="MW">Malawi</option>
                        <option value="MY">Malaysia</option>
                        <option value="MV">Maldives</option>
                        <option value="ML">Mali</option>
                        <option value="MT">Malta</option>
                        <option value="MH">Marshall Islands</option>
                        <option value="MQ">Martinique</option>
                        <option value="MR">Mauritania</option>
                        <option value="MU">Mauritius</option>
                        <option value="YT">Mayotte</option>
                        <option value="MX">Mexico</option>
                        <option value="FM">Micronesia, Federated States of</option>
                        <option value="MD">Moldova, Republic of</option>
                        <option value="MC">Monaco</option>
                        <option value="MN">Mongolia</option>
                        <option value="ME">Montenegro</option>
                        <option value="MS">Montserrat</option>
                        <option value="MA">Morocco</option>
                        <option value="MZ">Mozambique</option>
                        <option value="MM">Myanmar</option>
                        <option value="NA">Namibia</option>
                        <option value="NR">Nauru</option>
                        <option value="NP">Nepal</option>
                        <option value="NL">Netherlands</option>
                        <option value="NC">New Caledonia</option>
                        <option value="NZ">New Zealand</option>
                        <option value="NI">Nicaragua</option>
                        <option value="NE">Niger</option>
                        <option value="NG">Nigeria</option>
                        <option value="NU">Niue</option>
                        <option value="NF">Norfolk Island</option>
                        <option value="MP">Northern Mariana Islands</option>
                        <option value="NO">Norway</option>
                        <option value="OM">Oman</option>
                        <option value="PK">Pakistan</option>
                        <option value="PW">Palau</option>
                        <option value="PS">Palestinian Territory, Occupied</option>
                        <option value="PA">Panama</option>
                        <option value="PG">Papua New Guinea</option>
                        <option value="PY">Paraguay</option>
                        <option value="PE">Peru</option>
                        <option value="PH">Philippines</option>
                        <option value="PN">Pitcairn</option>
                        <option value="PL">Poland</option>
                        <option value="PT">Portugal</option>
                        <option value="PR">Puerto Rico</option>
                        <option value="QA">Qatar</option>
                        <option value="RE">Réunion</option>
                        <option value="RO">Romania</option>
                        <option value="RU">Russian Federation</option>
                        <option value="RW">Rwanda</option>
                        <option value="BL">Saint Barthélemy</option>
                        <option value="SH">Saint Helena, Ascension and Tristan da Cunha
                        </option>
                        <option value="KN">Saint Kitts and Nevis</option>
                        <option value="LC">Saint Lucia</option>
                        <option value="MF">Saint Martin (French part)</option>
                        <option value="PM">Saint Pierre and Miquelon</option>
                        <option value="VC">Saint Vincent and the Grenadines</option>
                        <option value="WS">Samoa</option>
                        <option value="SM">San Marino</option>
                        <option value="ST">Sao Tome and Principe</option>
                        <option value="SA">Saudi Arabia</option>
                        <option value="SN">Senegal</option>
                        <option value="RS">Serbia</option>
                        <option value="SC">Seychelles</option>
                        <option value="SL">Sierra Leone</option>
                        <option value="SG">Singapore</option>
                        <option value="SX">Sint Maarten (Dutch part)</option>
                        <option value="SK">Slovakia</option>
                        <option value="SI">Slovenia</option>
                        <option value="SB">Solomon Islands</option>
                        <option value="SO">Somalia</option>
                        <option value="ZA">South Africa</option>
                        <option value="GS">South Georgia and the South Sandwich Islands
                        </option>
                        <option value="SS">South Sudan</option>
                        <option value="ES">Spain</option>
                        <option value="LK">Sri Lanka</option>
                        <option value="SD">Sudan</option>
                        <option value="SR">Suriname</option>
                        <option value="SJ">Svalbard and Jan Mayen</option>
                        <option value="SZ">Swaziland</option>
                        <option value="SE">Sweden</option>
                        <option value="CH">Switzerland</option>
                        <option value="SY">Syrian Arab Republic</option>
                        <option value="TW">Taiwan, Province of China</option>
                        <option value="TJ">Tajikistan</option>
                        <option value="TZ">Tanzania, United Republic of</option>
                        <option value="TH">Thailand</option>
                        <option value="TL">Timor-Leste</option>
                        <option value="TG">Togo</option>
                        <option value="TK">Tokelau</option>
                        <option value="TO">Tonga</option>
                        <option value="TT">Trinidad and Tobago</option>
                        <option value="TN">Tunisia</option>
                        <option value="TR">Turkey</option>
                        <option value="TM">Turkmenistan</option>
                        <option value="TC">Turks and Caicos Islands</option>
                        <option value="TV">Tuvalu</option>
                        <option value="UG">Uganda</option>
                        <option value="UA">Ukraine</option>
                        <option value="AE">United Arab Emirates</option>
                        <option value="GB">United Kingdom</option>
                        <option value="US">United States</option>
                        <option value="UM">United States Minor Outlying Islands</option>
                        <option value="UY">Uruguay</option>
                        <option value="UZ">Uzbekistan</option>
                        <option value="VU">Vanuatu</option>
                        <option value="VE">Venezuela, Bolivarian Republic of</option>
                        <option value="VN">Viet Nam</option>
                        <option value="VG">Virgin Islands, British</option>
                        <option value="VI">Virgin Islands, U.S.</option>
                        <option value="WF">Wallis and Futuna</option>
                        <option value="EH">Western Sahara</option>
                        <option value="YE">Yemen</option>
                        <option value="ZM">Zambia</option>
                        <option value="ZW">Zimbabwe</option>
                    </select>
                    <div *ngIf="f.wpa_password.touched && f.wpa_country.invalid"
                        class="alert alert-danger">
                        <div *ngIf="f.wpa_country.errors.conditionalRequirementValidator">
                            Your must set the country in which you connect to a enterprise network.
                        </div>
                    </div>
                </div>

            </details>
        </form>

    </div>
</div>

<div *ngIf="dpiGenerator.error">
    <div class="alert alert-danger" role="alert">
        The DPi Generator is currently unavailable.
    </div>
</div>