<div class="wrapper">
    <div class="main-panel" style="width: 100%;">
        <div class="content" style="min-height:calc(100vh - 165px);">
            <img src="assets/img/bucket-logo.svg" style="max-width: 150px;">
            <h1>
                Collect data for your design<br>
                with Bucket
            </h1>
            <p>
                Bucket is a cloud application which help you collect data for your Data-Centric Design process.
            </p>

            <div style="padding: 50px 0px" *ngIf="userProfile === undefined; else elseBlock">
                <button (click)="loginCode()"  class="btn btn-success">Sign In</button>
                <button (click)="signup()"  class="btn btn-info">Sign Up</button>
            </div>

            <ng-template #elseBlock>
                <p>Welcome back {{userProfile.name}}, have a look at <a href="/">your bucket of things</a>!</p>
            </ng-template>
            
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5 col-md-4">

                                </div>
                                <div class="col-7 col-md-8">
                                    <div class="numbers">
                                        ioSense
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                Check out our Android/iOS application to stream smartphone data to your Bucket.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5 col-md-4">

                                </div>
                                <div class="col-7 col-md-8">
                                    <div class="numbers">
                                        Raspberry Pi
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                Quick start with Raspberry Pi
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5 col-md-4">

                                </div>
                                <div class="col-7 col-md-8">
                                    <div class="numbers">
                                        Python
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                Check out how to get started with Python
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5 col-md-4">

                                </div>
                                <div class="col-7 col-md-8">
                                    <div class="numbers">
                                        Arduino
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                Check out how to get started with Arduino
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <footer-cmp></footer-cmp>
    </div>