<div class="row" *ngIf="things$ | async as things else noData">
        <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let thing of things; let iThing = index">
            <div class="card card-stats">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div [className]="thing.status ? 'text-warning' : ''">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-bulb-63" *ngIf="thing.type === 'Light'"></i>
                                    <i class="nc-icon nc-button-power" *ngIf="thing.type === 'Switch'"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">
                                    {{thing.name}}
                                </p>
                            </div>
                            <div *ngFor="let control of thing.controls_formated; let iControl = index" style="text-align: right;" (click)="fireControl(iThing, iControl)">
                                <i class="nc-icon nc-send text-warning"></i>
                                {{control}}<br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-refresh"></i> 
                        {{thing.lastUpdateText}}
                    </div>
                </div>
            </div>
        </div>
</div>

<ng-template #noData>No Data Available</ng-template>