<h1>Explore</h1>

<p>
    Here you can explore all properties that are shared with you.
</p>

<div class="table-responsive">
    <table class="table">
        <thead class=" text-primary">
            <th style="max-width:200px">
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Type
            </th>
        </thead>
        <tbody  *ngIf="properties$ | async as propertiess">
            <tr *ngFor="let property of properties; let iProperty = index">
                <td>
                    {{property.name}}
                </td>
                <td style="max-width:200px">
                    {{property.description}}
                </td>
                <td>
                    {{property.type.name}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
