<div id="stats-panel">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-chart">
                <div class="card-header">
                    <select class="form-control" style="display:inline;float: right;" id="period" (change)="selectPeriod($event.target.value);" name="period">
                        <option disabled>Select Period</option>
                        <option *ngFor="let period of periods | keyvalue" [value]="period.key">{{period.value.nameDuration}}</option>
                    </select>
                    <h5 class="card-title">
                        Data Availability per Type
                    </h5>
                    <p class="card-category">Data points available {{selectedPeriod.nameInterval}} over the {{selectedPeriod.nameDuration}} for each type</p>
                </div>
                <div class="card-body" style="vertical-align: middle;margin-bottom:0px;padding-bottom:0px">
                    <div style="width:20%;display: inline-block;padding-bottom: 40px;">
                        <canvas id="chartTypes" width="100%"></canvas>
                    </div>
                    <div style="width:80%;display: inline-block;">
                        <canvas id="dpChart"></canvas>
                    </div>
                </div>
                <div class="card-footer" style="margin-top:0px;padding-top:0px">
                    <hr />
                    <div id="typesChartLegend" class="legend"></div>
                </div>
            </div>
        </div>
    </div>
  
</div>