<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://delftdesignlabs.org/dcd-lab/">
                        Data-Centric Design Lab
                    </a>
                </li>
                <li>
                    <a href="./terms">Terms</a>
                </li>
                <li>
                    <a href="./privacy">Privacy</a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} Data-Centric Design Lab, Theme by <a href="https://www.creative-tim.com">Creative Tim</a>
        </div>
    </div>
</footer>
