/* .led {
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: inset 0 0 5px #c0c1c2, inset 2px 0 8px #c0c1c2, inset -2px 0 8px #c0c1c2, inset 2px 0 30px #c0c1c2, inset -2px 0 30px #c0c1c2, 0 0 5px #c0c1c2, -1px 0 8px #c0c1c2, 1px 0 8px #c0c1c2;
} */

@keyframes blinking {
    0% {
      background-color: #06c3d1;
    }
    100% {
      background-color: #270da6;
    }
  }
  .status {
    width: 10px;
    height: 10px;
    animation: blinking 1s infinite;
    display: inline-block;
  }
  .statusConnected {
    animation: blinking 1s infinite;
  }
  .statusDisconnected {
    animation: none;
    background-color: #c0c1c2;
  }