<h1>Shared Properties</h1>

<p>
    Here you can find all properties that are shared with you.
</p>

<app-shared-properties-stats [properties]="properties" (changePeriodEvent)="changePeriodHandler($event)"></app-shared-properties-stats>

<div class="table-responsive" *ngIf="properties!==undefined&&properties.length>0 else noData">
    <table class="table">
        <thead class=" text-primary">
            <th>
                Property
            </th>
            <th>
                From Thing
            </th>
            <th>
                Shared with
            </th>
        </thead>
        <tbody>
            <tr *ngFor="let access of properties; let iAccess = index">
                <td style="vertical-align: top;">
                    <i class="nc-icon nc-sound-wave"></i>&nbsp;{{access.name}}<br>
                    <span style="font-size:x-small" >{{access.id}}</span>
                </td>
                <td>
                    <i class="nc-icon nc-app"></i>&nbsp;{{access.thing.name}}<br>
                    <span style="font-size:x-small" >{{access.thing.id}}</span><br>
                    <i class="nc-icon nc-single-02"></i>&nbsp;Owned by {{access.thing.personId}}
                </td>
                <td>
                    {{access.sharedWith}}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #noData>No shared property found.</ng-template>